---
import Layout from "~/layouts/PageLayout.astro";
import { proseCSS } from "src/utils/apps.js";

const { frontmatter } = Astro.props;
const { title } = frontmatter;

const meta = {
	title: `${title} — Sand Hope`,
};
---

<Layout {meta}>
	<section class="md:min-h-screen sm:px-6 mb-16 mx-auto max-w-3xl md:py-8">
		<main class={proseCSS}>
			<slot />
		</main>
	</section>
</Layout>
